*{
  font-family: 'PT Serif', serif;
}
#circle {
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background: red;
  right: 9px;
  top: 7px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: relative;
}

#UserMenu__Bell {
  margin: 7px;
  display: flex;
  align-items: center;
  color: gray;
  cursor: pointer;
}

.main_container{
	min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar footer footer footer";
}

Header {
  background-color: rgb(255, 255, 255);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px grey;
}

.UserMenu {
  display: flex;
  align-items: center;
  margin-right:40px;
}

.SideMenu {
  width: 300px;
  background: rgb(47, 46, 46);
  left: -200px;
  grid-area: sidebar;
  transition: all 500ms linear;
  box-shadow: 4px 1px 4px -1px rgba(0,0,0,0.30);
}
.UserMenu__profile{
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.UserMenu__profile img{
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100px;
}
footer { 
  height: 60px;
  background-color: rgb(240, 240, 240);
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}
footer a{
  text-decoration:none;
  padding-top: 17px;
  cursor: pointer;
  color: rgb(82, 82, 82)
}

footer p{
  color: rgb(59, 180, 65)
}

main {
  padding: 1rem;
  grid-area: main;
  background: rgba(243, 244, 246, 0.1);
}

.SideMenu ul li {
  list-style: none;
  color: white; 
  padding: 15px 30px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
  cursor: pointer;
}

.SideMenu ul li i{
  margin-right:10px
}

.SideMenu ul li:hover {
  list-style: none;
  color: rgb(255, 208, 0); 
  padding: 15px 37px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
  cursor: pointer;
  transition: all 200ms linear;
}

.SideMenu ul{
  margin: 0;
  padding: 0;
}

Header .toggle-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
Header .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: black;
  margin: 5px 67px 0px 10px;
}
#myDropdown span{
  display: block;
  width: 100%;
  height: 2px;
  background: grey;
  margin: 0
}
#myDropdown{
  left: -60px;
  top: 62px;
  width: 250px;
}
#logout_btn{
  color:rgb(216, 13, 13);
}
#Toggle-btn_Logo {
  display: flex;
  align-items: center;
  height: 70px;
}




.dropbtn {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
