footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
/* *{
  padding:0px;
  margin:0px;
  font-family: sans-serif;
} */
#sidemenu {
  position: fixed;
  width:200px;
  height:100%;
  background: lightskyblue;
}